*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,form, input, button, textarea{
    font-family: cera-pro-bold, sans-serif;
}
body{
    background-color: yellow;
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
}
.container{
    background-color: green;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 55px 1fr;
}
.bar{
    background-color: yellow;
    height: 100%;
    width: 100%;
}
.toggle-bar{
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1;
}
.disable-bar{
    grid-template-rows: 0fr 1fr;
}
.disable-bar .bar{display: none;}
.screen-panel-p{
    height: 100%;
    background-color: orange;
    display: grid;
    grid-template-rows: 1fr 50px;
}
/* .disable-panel{
    grid-template-rows: 55px 1fr;
}
.disable-panel .ctrl-panel{
    display: none;
} */
.disable-panel .ctrl-panel{
    display: none;
}
.disable-panel .screen-panel-p{
    grid-template-rows: 1fr;
}
.ctrl-panel{
    display: block;
    background-color: purple;
    width: 100%;
    height: 100%;
}
.ctrl-panel{
    transition: all 2s;
}
.toggle-ctrl-panel{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
}


.chart-screen{
    background-color: pink;
    display: block;
}
.toggle-chart-screen{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}
.disable-chart .screens{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.disable-chart .chart-screen{
    display: none;
}




/* Screens Set Up */
.screens{
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: minmax(380px, 1fr) minmax(70px, 380px);
}
.hosts-screen{
    display: grid;
    /* grid-column: span 2;
    grid-row: span 2; */
    background-color: green;
    position: relative;
}

@media only screen and (max-width: 600px){
    .screens{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(220px, 1fr) minmax(70px, 300px);
    }
}
/*End of screen set up*/
.host-1-con{
    background-color: brown;
}
.host-2-con{
    background-color: orange;
}
.host-3-con{
    background-color: wheat;
}
.host-con{
    position: relative;
    width: 100%;
    height: 100%;
}
.host-vid{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mute-btn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}

/*Single Base Host Set Up*/
.single-base-host{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: aqua;
    grid-template-columns: 1fr;
}
.single-base-host .host-2-con, .single-base-host .host-3-con{
    display: none;
} /*Single Host End*/


/*dou-Base-Host Set Up*/
.dou-base-host{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dou-base-host .host-3-con{
    display: none;
}

@media only screen and (min-width: 600px) and (max-width: 1024px){
    .dou-base-host{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (min-width: 500px){
    .dou-base-host.tall{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px){
    .dou-base-host.x-tall{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.dou-base-host.wide{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
/*Dou-Host End*/

/*Trio Host Set Up*/
.trio-base-host{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.trio-base-host .host-1-con{
    grid-row: span 2;
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .trio-base-host{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .trio-base-host .host-1-con{
        grid-row: span 1;
    }
}
@media only screen and (max-width: 600px){
    .trio-base-host.x-tall{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .trio-base-host.x-tall .host-1-con{
        grid-row: span 1;
    }
}
.trio-base-host.wide {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.trio-base-host.wide .host-1-con{
    grid-row: span 2;
}
.trio-base-host.x-wide, 
.trio-base-host.xx-wide{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
 /*Trio Host End*/